body {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  height: 90px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  background-color: #579c87;
  color: #fdcb46;
}
.header__main-title {
  background-color: #579c87;
  color: #fdcb46;
  font-family: sans-serif;
  text-align: center;
  font-size: 2em;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}
.main__index {
  justify-content: space-evenly;
}
.main__page {
  justify-content: start;
}

.footer {
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  height: 50px;
  bottom: 0;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
  padding: 20px;
  background-color: #579c87;
  color: #fdcb46;
}
.footer__el {
  font-size: 2em;
  font-family: sans-serif;
  text-align: center;
  background-color: #579c87;
  color: #fdcb46;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.noStyleTitle {
  font-size: 2.3em;
  font-family: "Calibri";
}

.ligneMenu {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.ml {
  margin: 7%;
  font-size: 1.2em;
}

.line__note {
  width: 30%;
  height: 1%;
}
.line__chic {
  width: 25%;
  height: 3%;
}
.line__delice {
  width: 30%;
  height: 1%;
}
.line__delice {
  width: 30%;
  height: 1%;
}

.fullMenu {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 3%;
  margin-bottom: 3%;
  box-shadow: 0px 0px 5px 2px #c7c7c7;
}
.fullMenu__note {
  background-color: #fcdfdb;
}
.fullMenu__note--underline {
  background: linear-gradient(to top, black 0%, black 5%, transparent 5%) no-repeat left bottom/0 100%;
  transition: background-size 1000ms;
}
.fullMenu__note--underline:hover {
  background-size: 100% 100%;
}
.fullMenu__note--mainTitle {
  text-align: center;
  font-weight: 500;
  font-size: 3em;
  color: black;
  font-family: "Devonshire", cursive;
}
.fullMenu__note--secondaryTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-weight: 800;
  font-size: 1.5em;
  font-family: "kalam", cursive;
}
.fullMenu__note--dish {
  font-size: 1.5em;
  font-family: "kalam", cursive;
}
.fullMenu__note--price {
  font-size: 1.5em;
  font-weight: 800;
  font-family: "kalam", cursive;
}
.fullMenu__chic {
  background-color: #FFF5FE;
  font-size: 0.7em;
}
.fullMenu__chic--underline1 {
  background: linear-gradient(to top, #C67412 0%, #C67412 5%, transparent 5%) no-repeat left bottom/0 100%;
  transition: background-size 1000ms;
}
.fullMenu__chic--underline1:hover {
  background-size: 100% 100%;
}
.fullMenu__chic--underline2 {
  background: linear-gradient(to top, #A56799 0%, #A56799 5%, transparent 5%) no-repeat left bottom/0 100%;
  transition: background-size 1000ms;
}
.fullMenu__chic--underline2:hover {
  background-size: 100% 100%;
}
.fullMenu__chic--underline3 {
  background: linear-gradient(to top, #6E4CCC 0%, #6E4CCC 5%, transparent 5%) no-repeat left bottom/0 100%;
  transition: background-size 1000ms;
}
.fullMenu__chic--underline3:hover {
  background-size: 100% 100%;
}
.fullMenu__chic--mainTitle {
  text-align: center;
  font-weight: 500;
  font-size: 3em;
  color: #C67412;
  font-family: "Croissant One", serif;
}
.fullMenu__chic--secondaryTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-weight: 800;
  font-size: 1.5em;
  font-family: "Source Serif Pro", serif;
}
.fullMenu__chic__starterPart {
  color: #C67412;
}
.fullMenu__chic__dishPart {
  color: #A56799;
}
.fullMenu__chic__dessertPart {
  color: #6E4CCC;
}
.fullMenu__chic--dish {
  font-size: 1.5em;
  font-family: "Source Serif Pro", serif;
}
.fullMenu__chic--price {
  font-size: 1.5em;
  font-weight: 800;
  font-family: "Source Serif Pro", serif;
}
.fullMenu__delice {
  background-color: #EDEFEF;
}
.fullMenu__delice--underline {
  background: linear-gradient(to top, black 0%, black 5%, transparent 5%) no-repeat left bottom/0 100%;
  transition: background-size 1000ms;
}
.fullMenu__delice--underline:hover {
  background-size: 100% 100%;
}
.fullMenu__delice--mainTitle {
  text-align: center;
  font-weight: 500;
  font-size: 4em;
  color: #089afb;
  font-family: "Dancing Script", cursive;
}
.fullMenu__delice--secondaryTitle > h2 {
  font-weight: 100;
}
.fullMenu__delice--secondaryTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 1.5em;
  font-family: "kalam", cursive;
  font-weight: 100;
}
.fullMenu__delice--dish {
  font-size: 1.5em;
  font-family: "kalam", cursive;
  font-weight: 100;
}
.fullMenu__delice--price {
  font-size: 1.5em;
  font-weight: 800;
  font-family: "kalam", cursive;
  font-weight: 100;
}
.fullMenu__palette {
  background-color: white;
}
.fullMenu__palette--underline {
  background: linear-gradient(to top, black 0%, black 5%, transparent 5%) no-repeat left bottom/0 100%;
  transition: background-size 1000ms;
}
.fullMenu__palette--underline:hover {
  background-size: 100% 100%;
}
.fullMenu__palette--mainTitle {
  text-align: center;
  font-weight: 500;
  font-size: 3em;
  color: #3d9339;
  font-family: "Kaushan Script", cursive;
}
.fullMenu__palette--secondaryTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-weight: 800;
  font-size: 2em;
  font-weight: 100;
  font-family: "kalam", cursive;
}
.fullMenu__palette--dish {
  font-size: 1.5em;
  font-weight: 100;
  font-family: "kalam", cursive;
}
.fullMenu__palette--price {
  font-size: 1.5em;
  font-weight: 800;
  font-weight: 100;
  font-family: "kalam", cursive;
}

.dot {
  display: inline-block;
}
.dot__1 {
  -webkit-animation: dots 500ms 0ms infinite alternate;
  animation: dots 500ms 0ms infinite alternate;
}
.dot__2 {
  -webkit-animation: dots 500ms 250ms infinite alternate;
  animation: dots 500ms 250ms infinite alternate;
}
.dot__3 {
  -webkit-animation: dots 500ms 500ms infinite alternate;
  animation: dots 500ms 500ms infinite alternate;
}

.soon {
  margin: 20px;
  width: 290px;
  font-size: 2em;
  padding: 10px;
  font-weight: 100;
  border-radius: 10px;
  font-family: sans-serif;
  text-align: center;
  background-color: #579c87;
  color: #fdcb46;
}

.zoom {
  transition: transform 500ms, opacity 500ms;
}
.zoom:hover {
  transform: scale(1.15);
  opacity: 0.6;
}

.shake {
  display: inline-block;
}
.shake:hover {
  -webkit-animation: shake 0.5s;
  animation: shake 0.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.menu h4 {
  margin: 0;
}

.menu h6 {
  margin-top: 0em;
  margin-bottom: 1em;
}

.menu {
  width: 250px;
  height: 350px;
  margin: 20px;
  text-align: center;
  font-size: 2em;
  box-shadow: 0px 0px 5px 2px #c7c7c7;
}
.menu__note {
  background-color: #fcdfdb;
}
.menu__note--menuTitlePrim {
  font-size: 1.2em;
  color: black;
  font-family: "Devonshire", cursive;
}
.menu__note--grad {
  background-image: linear-gradient(90deg, #f04a5e 0%, #f7ae6a 50%, #f7bf6a 100%);
  -webkit-background-clip: text;
  color: transparent;
}
.menu__note--menuTitleSec {
  font-family: "kalam", cursive;
}
.menu__chic {
  background-color: #FFF5FE;
}
.menu__chic--menuTitlePrim {
  color: #C67412;
  font-family: "Croissant One", serif;
  font-size: 0.8em;
}
.menu__chic--grad {
  background-image: linear-gradient(90deg, #C67412 0%, #A56799 50%, #6E4CCC 100%);
  -webkit-background-clip: text;
  color: transparent;
}
.menu__chic--menuTitleSec {
  font-family: "Source Serif Pro", serif;
  font-size: 1.5em;
}
.menu__delice {
  background-color: #EDEFEF;
}
.menu__delice--menuTitlePrim {
  color: #089afb;
  font-family: "Dancing Script", cursive;
  font-size: 1.2em;
}
.menu__delice--grad {
  background-image: linear-gradient(90deg, #0430df 0%, #0886fb 50%, #089afb 100%);
  -webkit-background-clip: text;
  color: transparent;
}
.menu__delice--menuTitleSec {
  font-family: "kalam", cursive;
  font-weight: 100;
}
.menu__palette {
  background-color: white;
}
.menu__palette--menuTitlePrim {
  color: #3d9339;
  font-family: "Kaushan Script", cursive;
  font-size: 1.2em;
}
.menu__palette--grad {
  background-image: linear-gradient(90deg, #3b7c38 0%, #3d9339 50%, #bfff7e 100%);
  -webkit-background-clip: text;
  color: transparent;
}
.menu__palette--menuTitleSec {
  font-weight: 100;
  font-family: "kalam", cursive;
}

@-webkit-keyframes dots {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-6px);
  }
}
@keyframes dots {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-6px);
  }
}
@-webkit-keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@media screen and (max-width: 750px) {
  .row {
    flex-direction: column;
    width: 100%;
  }

  .footer__el {
    font-size: 1em;
  }

  .footer {
    height: 20px;
  }

  .ligneMenu {
    flex-direction: column;
    text-align: center;
  }

  .line {
    width: 15%;
  }
}
@media screen and (max-width: 1500px) {
  .fullMenu {
    width: 85%;
  }
}

/*# sourceMappingURL=style.css.map */
